<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <title><%= title %></title>
</head>
<body>
    <div class="header">
        <a class="refs" href="/">Home</a>
        <a class="refs" href="/download/playlist">Playlist</a>
        <a class="refs" href="/download/video">Video</a>
    </div>