<%- include("partials/header", { title: "Home" }) %>

    <div class="Space">
        <h1 class="Title">Youtube Downloader</h1>
        <br>
        <h3>Um simples scraper youtube downloader feito por <a href="https://github.com/AubreyFBG">Aubrey</a>, o projeto é open source, se desejar veja seu repositório no <a href="https://github.com/AubreyFBG/Youtube-Scraper-Downloader">GitHub</a>.</h3>
        <br>
        <h3>Selecione o que deseja baixar:</h3>
            <a href="/download/playlist">
                <button class="primaryButton">Download Playlist</button>
            </a>
            <a href="/download/video">
                <button class="primaryButton">Download Video</button>
            </a>
    </div>

<%- include("partials/footer") %>
